*{
    box-sizing: border-box;
}
#Logo-div{
    width: 100%;
    min-height: 50px;
    padding-left: 2%;
    line-height: 50px;
    background-color:lightslategray;
}
#Parent-div{
    width: 100%;
    line-height: 50px;
}
#Users-side{
    width: 20%;
    height: 770px;
    background-color: rgb(44, 47, 92);
    line-height: 1px;
    position: relative;
    float: left;
}
#AddedUsers{
    button{
        background-color: rgb(148, 150, 150);
        backdrop-filter: blur(20px);
        border-radius: px;
    }
}
#AllUsers{
    button{
        background-color: rgb(255, 255, 255);
        backdrop-filter: blur(20px);
        border-radius: 5px;
    }
    padding-top: 20px;
}
#Chat-Screen{
    width: 80%;
    min-height: 720px;
    max-height: 500px;
    background-color: rgb(30, 128, 128);
    background-image: url(./chatBg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#mainc{
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    width:100%;
    padding-left: 10px;
    
}

button{
    height: 50px;
    width: 99%;
}
label{
    background-color: coral;
    border:0px;
    border-radius: 1px;
    padding: 2px;
    
    padding-left: 20px;
    padding-right: 8px;
}

#sendermsg{
    background-color: aqua;
    line-height: 20px;
    position: relative;
    float: right;
    text-align: left;
    right: 10px;
}

